header{
    display: flex;
    height: 150px;
    background-color: black;
    width: 100%;
    
}

.header_h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 62px;
}